body {
    background-color: #96c9ff;
}

.navbar {
    background-color: #007bff !important;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

.jumbotron {
    background-color: #c6e1fe;
    color: #000000;
    padding: 100px 0;
}

.project-card {
    margin-bottom: 20px;
}

footer {
    background-color: #18314b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.resume-section {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.1);
}

.profile-image {
    max-width: 100%;
    border-radius: 10px;
}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
    color: #000000;
}

.skill-badge {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #007bff;
}

.badge-primary {
    background-color: #007bff;
}

h2, h1, h3 {
    color: #007bff;
}
